.back-shape {
  position: relative;
  width: 100%;
  height: auto ;
  padding: 100px 0;
  background: url("./assets/wavesNegative4.svg"),
    linear-gradient(to bottom right, #f956b248, #ec7a1d48), url("./assets/wavesOpacity.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center, top center;
  background-size: 100% 150px, auto, 100% 150px;
}

.custom-shape-divider-bottom-1719090000 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1719090000 svg {
  position: relative;
  display: block;
  width: 100%;
  height: 150px;
}

.custom-shape-divider-bottom-1719090000 .shape-fill {
  fill: #ffffff; /* Fill color for your SVG shape */
}

#root {

  background-color: #ffffff;
}


.border-img {
  position: relative;
  display: inline-block;
  padding: 5px; /* Adjust padding as necessary */
}

.border-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%; /* Apply border-radius if needed */
  padding: 2px; /* Adjust padding to control border thickness */
  background: linear-gradient(to bottom right, #ff39a9, #6E06F2, #ff7a0e);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}





/* button */

.btn {
  display: grid;
  place-items: center;
  background: #e3edf7;
  padding: 0.4em;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
	      -6px -6px 10px -1px rgba(255,255,255,0.7);
  border: 1px solid rgba(0,0,0,0);
  cursor: pointer;
  transition: transform 0.5s;
}

.btn:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
	      inset -4px -4px 6px -1px rgba(255,255,255,0.7),
	      -0.5px -0.5px 0px rgba(255,255,255,1),
	      0.5px 0.5px 0px rgba(0,0,0,0.15),
	      0px 12px 10px -10px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.1);
  transform: translateY(0.5em);
}

.btn svg {
  transition: transform 0.5s;
}

.btn:hover svg {
  transform: scale(0.9);
  fill: #6E06F2;
}



.download-btn {
  display: grid;
  place-items: center;
  background: linear-gradient(to bottom right, rgb(255, 57, 169), rgba(108, 6, 242, 0.51), rgba(255, 122, 14, 0.608));
  padding: 0.5em 0.9em;
  border-radius: 40px;
  box-shadow: 6px 6px 10px -1px rgb(255, 57, 169),
	      -6px -6px 10px -1px rgba(255, 122, 14, 0.608);
  border: 1px solid rgba(0,0,0,0);
  cursor: pointer;
  transition: transform 0.5s;
}

.download-btn:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
	      inset -4px -4px 6px -1px rgba(255,255,255,0.7),
	      -0.5px -0.5px 0px rgba(255,255,255,1),
	      0.5px 0.5px 0px rgba(0,0,0,0.15),
	      0px 12px 10px -10px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.1);
  transform: translateY(0.5em);
}

.download-btn a {
  transition: transform 0.5s;
}

.download-btn:hover a {
  transform: scale(0.9);
  fill: #6E06F2;
}